---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "../components/RegisterForm.astro";
---

<Layout title="Register">
  <main class="flex items-center justify-center min-h-screen bg-gray-100">
    <RegisterForm />
  </main>
</Layout>
